# notification-service environment variables

# Port the service listens on
PORT=3000

# Database credentials
# See https://node-postgres.com/features/connecting
# See https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
DATABASE_URL=postgresql://user:password@host/db_name

# For connecting to PostgreSQL via peer authentication, node-postgres
# requires explicitly specifying the hostname.
# See https://github.com/brianc/node-postgres/issues/1493
#DATABASE_URL=postgresql:///notifications
#PGHOST=/run/postgresql

# Firebase credentials
# Compact JSON representation of Google service account credentials
# See https://firebase.google.com/docs/admin/setup#initialize-sdk
# After following the instructions above to generate and download the private
# key, compact it using `jq -c . path/to/downloaded/credentials.json`, and
# paste the output into this variable. It must be surrounded by single quotes.
# It will be very long.
FIREBASE_CREDENTIALS='{"type":"service_account","project_id":"..."}'
